html {
  color: hsl(240, 0%, 96%);
  background-color: hsl(240, 0%, 9%);
}

h1 {
  display: none;
}

.firstPage {
  width: 100%;
  height: 75vh;
}

.title {
  margin-left: 25vw;
  margin-top: 35vh;
}

h2.phonetic {
  font-size: 4rem;
  margin-bottom: .5rem;
}

h3.phonetic {
  color: lightgray;
  font-size: 1.5rem;
  margin-top: .5rem;
}

.phonetic {
  margin-left: 3vw;
}

.noun {
  font-style: italic;
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: .5rem;
  margin-left:-1vw;
}

.definition {
  margin-left: 1.5vw;
  font-size: 1.75rem;
  margin-top: .5rem;
}

.secondPage {
  width: 100%;
  height: 75vh;
}