html {
  color: hsl(240, 0%, 96%);
  background-color: hsl(240, 0%, 9%);
  /* background-image: url(./resources/images/dark-honeycomb.png);*/
  background-color: #233f7a;
}

a {
  color: hsl(240, 0%, 96%);
  Font-Family: 'PT Sans', Sans-Serif;
}

h1 {
  display: none;
}

h2, h3, h4, h5, h6 {
  Font-Family: 'Nunito', Sans-Serif;
}

p {
  font-size: 1.2rem;
  Font-Family: 'PT Sans', Sans-Serif;
  letter-spacing: 0.01vw;
  font-weight: 500;
}

/* FIRST PAGE STYLES */

.firstPage {
  width: 100%;
  height: 100vh;
}

.title {
  margin-left: 25vw;
  margin-top: 20vh;
}

h2.phonetic {
  font-size: 4rem;
  margin-bottom: .5rem;
}

h3.phonetic {
  color: lightgray;
  font-size: 1.5rem;
  margin-top: .5rem;
}

.phonetic {
  margin-left: 3vw;
}

.noun {
  font-style: italic;
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: .5rem;
  margin-left:-1vw;
}

.definition {
  margin-left: 1.5vw;
  font-size: 1.75rem;
  margin-top: .5rem;
}

a:hover {
  color: gold;
}

/* SECOND PAGE STYLES */

.secondPage, .thirdPage, .seventhPage, .eighthPage {
  width: 100%;
  height: 75vh;
  padding-top: 30vh;
}

.whoWhatWhere, .pageLinks, .contentHolder {
  padding: 0 15vw;
}

.bigTitle {
  font-size: 3rem;
  float: left;
  width: 35vw;
  vertical-align:text-top;
  margin-top: 2rem;
  line-height: 4rem;
}

.description {
  float: right;
  width: 30vw;
  margin-top: 3rem;
  line-height: 1.75rem;
}

.sectionLink {
  float: left;
  margin-right: 3vw;
  font-size: 1.6rem;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* THIRD PAGE STYLES */

.thirdPage {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.contentHolder {

}

.content1, .content2 {
  width: 30vw;
  height: 20vw;
}

.content1 {
  float: left;
  margin-right: 5vw;
}

.content2 {
  float: right;
}

img {
  width: 30vw;
  height: 30vh;
  border-radius: .75vw;
  box-shadow: 1vw 1vw 50px black;
}

img:hover {
  transform: translate(-10px, -10px);
  transition: .3s;
}


/* FOURTH PAGE STYLES */

.fourthPage {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

#reel {
  width: 45vw;
  height: 30vh;
  margin-left: -7vw;
}

#huffpostVid {
  width: 35vw;
  height: 30vh;
}

/* FIFTH PAGE STYLES */

.fifthPage {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

/* SIXTH PAGE STYLES */

.sixthPage {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

.middleTitle {
  font-size: 4rem;
  margin-bottom: .5rem;
  width: 60vw;
}

.quotee {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  margin-bottom: 6rem;
}

.smallerLink {
  font-size: 1.25rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.arrow {
  margin-right: 15vw;
  margin-top: 40vh;
  font-size: 4rem;
  padding: 1rem;
}

.noUnderline {
  text-decoration: none;
}

/* SEVENTH PAGE STYLES */

.seventhPage {;
  padding-top: 20vh;
  padding-bottom: 10vh;
}

.bigTitleBottom {
  font-size: 3rem;
  float: left;
  width: 40vw;
  vertical-align:text-top;
  margin-top: 2rem;
  line-height: 4rem;
}

.descriptionLeft {
  float: left;
  width: 34vw;
  line-height: 1.75rem;
}

.contactForm {
  display: block;
  margin-left: 65vw;
  margin-right: 15vw;
  line-height: 3rem;
}

input {
  /*background-color:hsl(240, 0%, 9%);*/
  /*color:hsl(240, 0%, 96%);*/
  background-color:hsl(240, 0%, 96%);
  background-color: #dbdbd9;
  outline: none;
  border:0px solid #cccccc;
  border-bottom: 1px solid hsl(240, 0%, 96%);
  width: 25vw;
  font-size: 2vh;
}

.submitButton {
  border:1px solid #cccccc;
  text-align: center;
  width: 10vw;
  margin-top: 5vh;
  padding: 2vh 2vw;
  padding-right: 6vw;
  text-align: center;
}

.submitButton:hover {

}

/* EIGTH PAGE STYLES */

.eigthPage {
  padding-top: 15vh;
  padding-bottom: 45vh;
}

.footer {
  width: 35vw;
}

.bottom { 
  margin-bottom: 1rem;
}

.info {
  line-height: .25rem;
}

.top {
  margin-top: -7vh;
  margin-right: 0vw;
}

.arrow:hover {
  transform: translateY(-1vw);
  transition: .3s;
}

.cv {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: -23vh;
  margin-left: -10vw;
}

